<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd 
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<bean id="applicationService" class="com.hawkware.apollo.service.impl.ApplicationServiceImpl" >
		<property name="applicationDAO" ref="applicationDAO" />
	</bean>
	
	<bean id="applicationContextService" class="com.hawkware.apollo.service.impl.ApplicationContextServiceImpl" >
			<property name="applicationContextDAO" ref="applicationContextDAO" />
	</bean>
	
	<bean id="contextValidator" class="com.hawkware.apollo.validator.impl.ContextValidatorImpl" />
	
</beans>
